<div class="jumbotron" id="sign-up">
	<div class="container-fluid">
		<h1>sign up</h1>
		<div class="col-6 offset-xl-3">
    <div class="alert alert-danger" *ngIf="isError; else noError">
        {{ error }}
      </div>
		<form>
      <div class="form-row">
        <div class="col">
          <label for="signup-firstname">First Name *</label>
          <input [(ngModel)]="signup.firstName" name="firstname"
          type="text" class="form-control form-control-lg" id="signup-firstname" aria-describedby="firstnameHelp" placeholder="First name" required>
        </div>
        <div class="col">
          <label for="signup-lastname">Last Name *</label>
          <input [(ngModel)]="signup.lastName" name="lastname" type="text" class="form-control form-control-lg" id="signup-lastname" aria-describedby="lastnameHelp" placeholder="Last name" required>
        </div>
      </div>

			<div class="form-group">
		    	<label for="signup-username">Username *</label>
    			<input [(ngModel)]="signup.username" name="username" type="text" class="form-control form-control-lg" id="signup-username" aria-describedby="usernameHelp" placeholder="Username" required>
			</div>
      <div class="form-group">
          <label for="signup-email">Email *</label>
          <input [(ngModel)]="signup.email" name="email" type="email" class="form-control form-control-lg" id="signup-email" aria-describedby="emailHelp" placeholder="Email" required>
      </div>
			<div class="form-group">
			    <label for="signup-password">Password *</label>
			    <input [(ngModel)]="signup.password" name="password" type="password" class="form-control form-control-lg" id="signup-password" placeholder="Password" required>
			</div>
			<button type="submit" class="btn btn-lg btn-warning hvr-sweep-to-right"  (click)="register()" data-toggle="modal" data-target="#myModal" >Sign Up</button>
		</form>
		</div>
    <p>Have an account?  <span><a routerLink="/signup">Log in!</a></span></p>
	</div>
</div>

<ng-template #noError>
  <div class="alert alert-success" *ngIf="message">
    {{ message }}
  </div>
</ng-template>
