<div class="container">
	<h1>Update Your Article</h1>
	<hr>
	<form *ngIf="article">
		<div class="form-group">
			<label>Article Title</label>
			<input [(ngModel)]="article.title" name="articleTitle" type="text" class="form-control form-control-lg" id="articleTite" placeholder="What do you want to write?" >
		</div>
		<div class="form-group">
 			<label>Article Content</label>
			<textarea [(ngModel)]="article.content" class="form-control" id="articleContent" rows="10" name="articleContent"></textarea>
		</div>
		<div class="form-group">
		    <label for="articlePic">Upload Picture</label>
		    <input type="file" class="form-control-file" id="articlePic">
		</div>
		  <button type="submit" class="btn btn-warning" (click)="save()" >Here My Article</button>
		  <button type="submit" class="btn btn-warning" (click)="goBack()">Just Go Back</button>
	</form>
</div>