<div class="container">
  <h1>Create Your Article</h1>
  <hr>
  <form>
    <div class="form-group">
      <div class="alert alert-danger" *ngIf="message">
        {{ message }}
      </div>
      <label>Article Title</label>

      <input [(ngModel)]="article.title" #articleTitle name="articleTitle" type="text"
             class="form-control form-control-lg" id="articleTitle" required>
    </div>
    <div class="form-group">
      <label>Article Content</label>
      <textarea [(ngModel)]="article.content" #articleContent class="form-control" id="articleContent" rows="10"
                name="articleContent" required></textarea>
    </div>
    <div class="form-group">
      <label for="image">Upload Picture</label>
      <br>
      <div class="form-inline">
        <button type="button" (click)="fileInput.click()">Choose image</button>
        <p style="margin:0px 5px" id="filename">No file chosen</p>
      </div>
      <input type="file" class="form-control-file" name="articleImg" id="image" style="display:none" (change)="onFileSelected()" #fileInput>
    </div>
    <button type="submit" class="btn btn-warning"
            (click)="save()">Save
    </button>
  </form>
</div>
