<div class="container">
  <h1>Create Your Article</h1>
  <hr>
  <div class="alert alert-danger" *ngIf="message">
    {{ message }}
  </div>
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label>Article Title*</label>
        </div>
        <div class="col">
          <p align="right"><strong>*required fields</strong></p>
        </div>
      </div>
      <input [(ngModel)]="article.title" name="articleTitle" type="text" class="form-control form-control-lg" required>
    </div>
    <div class="form-group">
      <label>Article Content*</label>
      <textarea [(ngModel)]="article.content" class="form-control" rows="10" name="recipeAbout" required></textarea>
    </div>
    <div class="form-group">
      <label for="image">Upload Picture</label>
      <br>
      <div class="form-inline">
        <button type="button" (click)="fileInput.click()">Choose image</button>
        <p style="margin:0px 5px" id="filename">No file chosen</p>
      </div>
      <input type="file" class="form-control-file" name="articleImg" id="image" style="display:none" (change)="onFileSelected()" #fileInput>
    </div>
    <div id="saveButton" class="btn btn-warning ld-over-full" (click)="save()"> Save
      <div class="ld ld-ring ld-spin"></div>
    </div>
  </form>
</div>
