<div class="container-fluid">
  <div class="row">
    <div class="col-12 recipe-collection-topic">
      <h1>Your Recipe Collection</h1>
    </div>
  </div>


  <div class="row" id="row-article">
    <div class="col-12 recipe-col" id="personal-article" *ngIf="isRecipeAvailable; else noRecipe">
      <div class="row" id="recipe-collection-all" *ngFor="let recipe of recipes">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12" *ngIf="recipe.pictureURL!='default.jpg'; else noImage">
          <img src="{{recipe.pictureURL}}">
        </div>
        <ng-template #noImage>
            <img src="../../assets/default.jpg">
        </ng-template>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12" id="recipe-collection-data">
          <h3>{{recipe.title}}</h3>
          <h4>{{recipe.username}}</h4>
          <h4>{{recipe.dateCreated | date:'longDate' }}</h4>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 col-xs-12" id="recipe-button">
          <button type="button" class="btn btn-success" routerLink="/update-recipe/{{recipe.id}}">Update</button>
          <button type="button" class="btn btn-danger" (click)="deleteRecipe(recipe.id)">Delete</button>
        </div>
      </div>
    </div>
    <ng-template #noRecipe>
      <h5>You haven't created any recipe.. Why don't you start writing one? <a routerLink="/create-recipe"> Click here ❤</a></h5>
    </ng-template>
  </div>
</div>
