<div class="container">
	<div class="row" id="recipe-collection-topic">
		<h1>Your Recipe Collection</h1><br>
	</div>
	<div class="row" id="recipe-collection-all">
		<div class="col-2">
			<img src="../../assets/pic1.jpg">
		</div>
		<div class="col-10" id="recipe-collection-data">
			<h3>The Recipe Name</h3>
			<h4>Recipe Maker</h4>
			<h4>Recipe Date</h4>
		</div>
	</div>
	<div class="row" id="recipe-collection-all">
		<div class="col-2">
			<img src="../../assets/pic1.jpg">
		</div>
		<div class="col-10" id="recipe-collection-data">
			<h3>The Recipe Name</h3>
			<h4>Recipe Maker</h4>
			<h4>Recipe Date</h4>
		</div>
	</div>
</div>