<div class="container">
  <h1>Create Your Article</h1>
  <hr>
  <form>
    <div class="form-group">
      <div class="alert alert-danger" *ngIf="message">
        {{ message }}
      </div>
      <label>Article Title</label>

      <input [(ngModel)]="article.title" #articleTitle name="articleTitle" type="text"
             class="form-control form-control-lg" id="articleTitle" placeholder="Your Title" required>
    </div>
    <div class="form-group">
      <label>Article Content</label>
      <textarea [(ngModel)]="article.content" #articleContent class="form-control" id="articleContent" rows="10"
                name="articleContent" required></textarea>
    </div>
    <div class="form-group">
      <label for="articlePic">Upload Picture</label>
      <input type="file" class="form-control-file" id="articlePic">
    </div>
    <button type="submit" class="btn btn-warning"
            (click)="add()">Save
    </button>
  </form>
</div>
