<div class="container">
	<h1>Create Your Article</h1>
	<hr>
	<form>
		<div class="form-group">
			<label>Article Title</label>
			<input type="text" class="form-control form-control-lg" id="articleTite" placeholder="What do you want to write?" name="articleTitle">
		</div>
		<div class="form-group">
 			<label>Article Content</label>
			<textarea class="form-control" id="articleContent" rows="10" name="articleContent"></textarea>
		</div>
		<div class="form-group">
		    <label for="articlePic">Upload Picture</label>
		    <input type="file" class="form-control-file" id="articlePic">
		</div>
		  <button type="submit" class="btn btn-warning">Here My Article</button>
	</form>
</div>