<br>
<br>
<div class="container" *ngIf="article">
  <div class="row">
    <div class="col-12" id="article">
      <h1>{{article.title}}</h1>
      <h6>created by <span>{{ article.username }}</span> at <span>{{ article.dateCreated | date:'longDate' }}</span></h6>
      <div *ngIf="article.imageURL!='default.jpg';else noImage">
        <img src="{{article.imageURL}}"> <br>
      </div>
      <ng-template #noImage>
        <img src="../../assets/default.jpg"> <br>
      </ng-template>
      <hr>
      <div class="white-space-pre">{{ article.content }}</div>
      <br>
    </div>
  </div>
</div>
