<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-company-blue">
  <a class="navbar-brand" routerLink="">makanmakan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse float-right" id="navbarArea">
    <ul class="navbar-nav mr-auto" id="navbarOption">

      <li class="nav-item disabled">
        <a class="nav-link">|</a>        
      </li>

      <li class="nav-item active dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Recipe </a>
          <ul class="dropdown-menu multi-column columns-3">
            <div class="row">
              <div class="col-12" id="showAll">
                <li class="showAll"><a href="#"> Show All </a></li>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                  <li class="topic">Meal Course</li>
                  <li><a href="#">Appetizer</a></li>
                  <li><a href="#">Breakfast</a></li>
                  <li><a href="#">Brunch</a></li>
                  <li><a href="#">Buffet</a></li>
                  <li><a href="#">Dessert</a></li>
                  <li><a href="#">Dinner</a></li>
                  <li><a href="#">Lunch</a></li>
                  <li><a href="#">Side</a></li>
                </ul>
              </div>
              <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                  <li class="topic">Cuisine</li>
                  <li><a href="#">African</a></li>
                  <li><a href="#">American</a></li>
                  <li><a href="#">Asian</a></li>
                  <li><a href="#">Chinese</a></li>
                  <li><a href="#">Eastern Europe</a></li>
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">Indian</a></li>
                  <li><a href="#">Italian</a></li>
                  <li><a href="#">Japanese</a></li>
                  <li><a href="#">Korean</a></li>
                  <li><a href="#">Mexican</a></li>
                  <li><a href="#">Middle Eastern</a></li>
                  <li><a href="#">Thai</a></li>
                  <li><a href="#">Vietnamese</a></li>
                </ul>
              </div>
              <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                  <li class="topic">Dietary Consideration</li>
                  <li><a href="#">Healthy</a></li>
                  <li><a href="#">Low Cholestrol</a></li>
                  <li><a href="#">Vegan</a></li>
                  <li><a href="#">high Fiber</a></li>
                  <li><a href="#">Healthy</a></li>
                  <li><a href="#">Low Calories</a></li>
                  <li><a href="#">Low Fat</a></li>
                  <li><a href="#">Low Sodium</a></li>
                  <li><a href="#">Low / No Sugar</a></li>
                  <li><a href="#">Wheat / Gluten-free</a></li>
                  <li><a href="#">Kid-Friendly</a></li>
                  <li><a href="#">Quick & Easy</a></li>
                  <li><a href="#">Vegetarian</a></li>
                  <li class="divider"></li>
                </ul>
              </div>
            </div>
          </ul>
      </li>

      <li class="nav-item active">
        <a class="nav-link hvr-underline-from-center" routerLink="/articles">Article</a>
      </li>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
    </ul>


    <ul class="navbar-nav ml-auto" id="navbarOption">

      <li class="nav-item active">
        <a class="nav-link hvr-underline-from-center" routerLink="/login">Sign In</a>
      </li>

      <li class="nav-item disabled">
        <a class="nav-link" href="#">or</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link hvr-underline-from-center" routerLink="/signup">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
