<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-company-blue">
  <a class="navbar-brand" routerLink="">makanmakan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarArea" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse float-right" id="navbarArea">
    <ul class="navbar-nav mr-auto" id="navbarOption">

      <li class="nav-item disabled">
        <a class="nav-link">|</a>
      </li>

      <li class="nav-item active dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Recipe</a>
          <ul class="dropdown-menu multi-column columns-3">
            <div class="row">
              <div class="col-12" id="showAll">
                <li class="showAll"><a routerLink="/recipes"> Show All </a></li>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4" *ngFor="let tag of tags">
                <ul class="multi-column-dropdown">
                  <li class="topic"> {{ tag.name }} </li>
                  <li *ngFor="let detail of tag.tag_header"><a routerLink="/search/{{detail.name}}">{{ detail.name }}</a></li>
                </ul>
              </div>
            </div>
          </ul>
      </li>

      <li class="nav-item active">
        <a class="nav-link hvr-underline-from-center" routerLink="/articles">Article</a>
      </li>

  <form class="form-inline">
    <input [(ngModel)]="name" name="search-food" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
  </form>
    </ul>

    <div *ngIf="isLoggedIn; else noLoggedIn">
      <div class="dropdown">
        <button class="btn btn-login btn-warning dropdown-toggle" type="button" data-toggle="dropdown">{{user.firstName}} {{user.lastName}}
          <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-login">
          <li><a routerLink="/create/recipe">Create Recipe</a></li>
          <li><a routerLink="/create/article">Create Article</a></li>
          <li><a (click)="openRecipeCollection()">Open Recipe Collection</a></li>
          <li><a (click)="openPersonalArticle()">Open Personal Article</a></li>
          <li><a (click)="openSavedRecipe()">Open Saved Recipe</a></li>
          <li><a (click)="logout()">Log Out</a></li>

        </ul>
      </div>
    </div>
    <ng-template #noLoggedIn>
      <ul class="navbar-nav ml-auto" id="navbarOption">

        <li class="nav-item active">
          <a class="nav-link hvr-underline-from-center" routerLink="/login">Sign In</a>
        </li>

        <li class="nav-item disabled">
          <a class="nav-link" disabled>or</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link hvr-underline-from-center" routerLink="/signup">Sign Up</a>
        </li>
      </ul>
    </ng-template>

  </div>
</nav>
