*{
	font-family: 'Montserrat', sans-serif
}

.navbar {
   background-color: #ff6200 !important;
   height: 70px;
}

.navbar-brand{
	font-family: 'Righteous', cursive;
	color: white;
}

.nav-link{
	font-size:20px;
	margin: 0 5px;
	font-weight: 500;
}

.container{
	margin-top:10vh;
}

form button{
	background-color: #FF6200 !important;
	width: 7.5vw;
	font-weight: 700 !important;
	color: white !important;
	border: 2px solid white;
}

form button:hover{
	color: #FF6200 !important;
	background-color: white !important;
}

.dropdown-menu{
	background-color:rgba(255, 255, 255, 0.9);
}

.dropdown-menu.columns-3 {
	width: 750px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;

	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: white;
	background-color: #ff6200;
}

.topic{
	color: #ff6200;
}

#showAll{
	text-align: center;
}

.showAll a{
	color:#ff6200;
	font-weight: 700 !important;
	font-size: 25px;
}

.btn-login{
	width: 250px !important;
	font-weight: 700;
	background-color: #ff6200 !important;
	color: white !important;
	border: none !important;
	text-align: right !important;
}

.btn-login:active, .btn-login:hover, .btn-login:focus{
	border:none !important;
	box-shadow: none !important;
} 

.dropdown-login{
	width: 250px;
}

.dropdown-login li{
	padding: 5px 0;
	margin: 0;
}

.dropdown-login li a{
	color: black;
	font-weight: 500;
}

.dropdown-login li a:hover{
	cursor: pointer;
	text-decoration-line: none;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

