<div class="container" id="article-container">
<h1> Articles </h1>
<hr>
<div class="row" *ngIf="articles; else noArticle">
  	<div class="col-3 article-food" *ngFor="let article of articles ">
  		<img src="../../assets/pic1.jpg"> <br>
      	<h4><a routerLink="/article/{{article.id}}">{{article.title}}</a></h4>
      	<p>{{ article.datePosted |date:'longDate' }}</p>
      	<p style="color: darkgrey" (click)=saveCollection()>Save Article</p>
    </div>
</div>
</div>

<ng-template #noArticle>
<p>Sorry.. No articles available..</p>
</ng-template>
