*{
	font-family: 'Montserrat', sans-serif
}

.container{
	margin-top:15vh;
	margin-bottom: 10vh;
	min-height: 75vh;
}

#article-container h1{
	color:#FF6200;
	font-weight: 700;
}

#article-container div div{
	margin:0;
	padding: 0;
	text-align: center;
}

img {
  alignment: center;
	width: 40vh;
	height: 25vh;
}

.row {
  alignment: center;
}

.article-food {
	margin: 5px 10px !important;
	padding: 10px !important;
  border: 2px solid black;
  display: block;
  margin: 15px auto;
}
.article-food img {
  /*align*/
}

h4{
	margin-bottom: 0;
}

h4 a{
	color:#ff6200;
	font-weight: 700;
	text-decoration: none;
}

p a{
	color:black;
	text-decoration: none;
}
