*{
	font-family: 'Montserrat', sans-serif
}

.container{
	margin-top:10vh;
	margin-bottom: 10vh;
}

#article-container h1{
	color:#FF6200;
	font-weight: 700;
}

#article-container div div{
	margin:0;
	padding: 0;
	text-align: center;
}

img {
	width: 25vh;
	height: 15vh;
}

.article-food .article-food-write{
	margin: 0 10px !important;
	padding: 0;
}

h4{
	margin-bottom: 0;
}

h4 a{
	color:#ff6200;
	font-weight: 700;
	text-decoration: none;
}

p a{
	color:black;
	text-decoration: none;
}
