.container{
	margin-top:10vh;
	margin-bottom: 10vh;
}

#recipe-container h1{
	color:#FF6200;
	font-weight: 800;
}

#recipe-container div div{
	margin:0;
	padding: 0;
	text-align: center;
}

.recipe-food{
	margin: 0 10px !important;
	padding: 0;

	background-size: 60vh;
	background-position: center;
	background-repeat: no-repeat;

	min-height: 25vh;

	transition: background-size 0.25s;
}

.recipe-food h3{
	margin-top: 2vh;
	text-align: center;
	color: black;
	font-weight: 700;
	padding: 0 10px;
}

img{
	width:50vh;
	height: auto;
}