
<div class="container" id="article-container">
  <h1> Recipes </h1>
  <hr>
  <div class="row" *ngIf="isRecipeAvailable; else noRecipe">
    <div class="col-3 article-food" *ngFor="let recipe of recipes ">
      <div *ngIf="recipe.pictureURL!='default.jpg';else noImage">
        <img src="{{recipe.pictureURL}}"> <br>
      </div>
      <ng-template #noImage>
        <img src="../../assets/default.jpg">
        <br>
      </ng-template>
      <h4><a routerLink="/recipe/{{recipe.id}}">{{recipe.title}}</a></h4>
      <p>by {{ recipe.username }}</p>
    </div>
  </div>
</div>

<ng-template #noRecipe>
  <p>Sorry.. No recipes available..</p>
</ng-template>
