<div class="container" id="recipe-container">
<h1> Type of Recipes </h1>
<hr>
<div class="row">
    <div class="col-3 recipe-food" *ngFor="let recipe of recipes ">
      <img src="../../assets/pic1.jpg"> <br>
        <a routerLink="/recipe/{{recipe.id}}">{{recipe.title}}</a>
        <a routerLink="#">{{ recipe.datePosted }}</a>
    </div>
</div>
</div>

<!--<br>
<br>
<br>
<h1> Test </h1>
<ul class="article">
  <li *ngFor="let article of articles ">
    <a routerLink="#">
      <span>{{article.id}}</span> {{article.title}}
    </a>

  </li>
</ul>
-->
<!--
<div class="container" id="article-container">
<h1> Type of Recipes </h1>
<hr>
  <div class="row">
    <div class="col-3 article-food">
      <div class="article-food-write"></div>
      <h3>Cara masak Ramen Ayam</h3>
    </div>
    <div class="col-3 article-food">
      <div class="article-food-write"></div>
      <h3>Cara masak Ramen Ayam</h3>
    </div>
    <div class="col-3 article-food">
      <div class="article-food-write"></div>
      <h3>Cara masak Ramen Ayam</h3>
    </div>
    <div class="col-3 article-food">
      <div class="article-food-write"></div>
      <h3>Cara masak Ramen Ayam</h3>
    </div>
  </div>
</div>
-->
