<div class="container-fluid">
  <div class="row">
    <div class="col-12 recipe-collection-topic">
      <h1>Your Article Collection</h1>
      <!--			<h3><a (click)="toPersonalArticle()">Personal Article</a></h3>
                  <h3> | </h3>
                  <h3>Personal Recipe</h3>
                  <h3> | </h3>
                  <h3>Saved Recipe</h3>-->
    </div>
  </div>

  <div class="row" id="row-article">
    <div class="col-12 recipe-col" id="personal-article" *ngIf="isArticleAvailable; else noArticle">
      <div class="row" id="recipe-collection-all" *ngFor="let article of articles">
        <div class="col-2" *ngIf="article.imageURL!='default.jpg'; else noImage">
          <img src="{{article.imageURL}}">
        </div>
        <ng-template #noImage>
          <img src="../../assets/default.jpg">
        </ng-template>
        <div class="col-9" id="recipe-collection-data">
          <h3>{{article.title}}</h3>
          <h4>{{article.username}}</h4>
          <h4>{{article.dateCreated | date:'longDate' }}</h4>
        </div>
        <div class="col-1" id="recipe-button">
          <button type="button" class="btn btn-success" routerLink="/update-article/{{article.id}}">Update</button>
          <button type="button" class="btn btn-danger" (click)="deleteArticle(article.id)">Delete</button>
        </div>
      </div>
    </div>
    <ng-template #noArticle>
      <h5>You haven't created any article.. Why don't you start writing one? <a routerLink="/create-article"> Click here ❤</a></h5>
    </ng-template>
  </div>
</div>
