
.white-space-pre {
  white-space: pre-wrap;
}


*{
  font-family: 'Montserrat', sans-serif
}

.textButton {
  background:none!important;
  border:none;
  padding:0!important;
  cursor:pointer;
  color: darksalmon;
}

/*Recipe.ts*/
#recipe{
  /*margin-top:10vh;*/
}

#recipe h1{
  font-weight: 700;
}

#recipe h6 span{
  color: #ff6200;
}

#images{
  height: 60vh;
}

#recipe img{
  /*max-width: 52vw;
  height: auto;*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*Comment area*/
.comments p{
  margin: 0;
}

.comments{
  margin: 10px 0;
}

.comments .name{
  color:#ff6200;
  font-weight: 700;
}

form{
  text-align: right;
}

form .form-group{
  text-align: left;
}

.tags span:hover{
  color:#ff6200;
  cursor: pointer;
}

a {
  font-weight: bold;
  color: #ff6200;
  text-decoration: none;
}

@media (max-width: 575.98px){
  #images{
    height: 25vh;
  }
  
  #recipe h1{
    font-weight: 700;
    font-size:30px;
    margin-top:5px;
    margin-bottom: 5px;
  }
}