<br>
<br>
<div class="container" *ngIf="recipe">
  <div class="row">
    <div class="col-12" id="recipe">
      <h1>{{recipe.title}}</h1>
      <h6>created by <span>{{ recipe.id }}</span> at <span>{{ recipe.datePosted }}</span></h6>
            <a routerLink="update">Change Content</a>
      <hr>
      <p>{{ recipe.content }}</p>

      <div class="row">
        <div class="tags">
          <h3>Tags:</h3>
          <span>Food</span> | 
          <span>Breakfast</span> | 
          <span>Tags</span> | 
        </div>
      </div>

      
    </div>
  </div>
</div>

<!--<div class="container">
  <div class="row">
    <div class="col-12" id="recipe">
      <div class="images"></div>
      <hr>
      <h1>Cara masak anak ayam dengan kekuatan bulan</h1>
      <h6>created by <span>Siapa ya</span> at <span>17 Agustus '45</span></h6>
      <div>
      <h6>rating <span>3.5</span>/5</h6>
      </div>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a dui erat. Donec euismod sapien pulvinar, facilisis quam vel, rutrum ipsum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a dui erat. Donec euismod sapien pulvinar, facilisis quam vel, rutrum ipsum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a dui erat. Donec euismod sapien pulvinar, facilisis quam vel, rutrum ipsum.</p>

      <div class="row">
        <div class="tags">
          <h3>Tags:</h3>
          <span>Food</span> | 
          <span>Breakfast</span> | 
          <span>Tags</span> | 
        </div>
      </div>

<hr>

      <form>
        <div class="form-group">
          <label for="comment"><strong>Leave a reply</strong></label>
          <textarea class="form-control" id="comment-area" rows="3"></textarea>
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <div class="comments">
        <p class="name">My name</p>
        <p class="comment">Thank you!!!!!</p>
      </div>

      <div class="comments">
        <p class="name">My name</p>
        <p class="comment">Thank you!!!!!</p>
      </div>

    </div>
  </div>
</div> -->