<div class="container" *ngIf="recipe">
  <div class="row">
    <div class="col-12" id="recipe">
      <h1>{{recipe.title}}</h1>
      <h6>created by <span>{{ recipe.username }}</span> at <span>{{ recipe.dateCreated |date:'longDate'}}</span></h6>
      <hr>
      <h1> Ingredients </h1>
      <div *ngFor="let ingredient of recipe.ingredient_details">
        <p>{{ingredient.quantity}} {{ingredient.unit}} {{ingredient.ingredient.name}}</p>
      </div>
      <hr>
      <h1>About This Recipe</h1>
      <p>{{recipe.about}}</p>
      <hr>
      <h1> Preparation Steps</h1>
      <p>{{ recipe.preparation }}</p>
      <hr>

      <div>
        <h1>Tags:</h1>
        <div class="row" *ngFor="let tags of recipe.tag_details">
          <div *ngFor="let tag of tags.tag_header">
            <button type="button" (click)="search(tag.name)" class="btn btn-outline-warning">{{tag.name}}</button>
          </div>
        </div>
      </div>

      <hr>
      <div *ngIf="isLoggedIn; else disabledForm">
        <form>
          <div class="form-group">
            <label for="comment"><strong>Leave a review</strong></label>
            <textarea class="form-control" name="content" id="comment-area" rows="3" [(ngModel)]="review.content" #content="ngModel"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" (click)="addReviews()">Submit</button>
        </form>
      </div>  

      <ng-template #disabledForm>
        <form>
          <div class="form-group">
            <label for="comment"><strong>Leave a review</strong></label>
            <textarea class="form-control" id="comment-area" rows="3" disabled>Log in first if you want to leave a review..</textarea>
          </div>
          <button type="submit" class="btn btn-primary" disabled>Submit</button>
        </form>
      </ng-template>
      <hr>

      <h3>Reviews</h3>
      <div *ngIf="isReviewAvailable; else noReview">
        <div *ngFor="let review of recipe.reviews" class="comments">
          <p class="name">{{review.user.username}}</p>
          <p class="comment">{{review.content}}</p>
          <button> report if inappropriate</button>
        </div>
      </div>

      <ng-template #noReview>
        <p class="comment"> Be the first to review this recipe! </p>
      </ng-template>

    </div>
  </div>
</div>
