*{
	font-family: 'Montserrat', sans-serif
}

/*.container{*/
	/*margin-bottom: 7.5vh;*/
/*}*/

/*Part 1*/
.jumbotron{
	background-image:linear-gradient(rgba(255,98,0,.5), rgba(255,98,0,.5)),url(../../assets/pic1.jpg);
	background-size: cover;
	height: 100vh;
	background-position: center;
	padding-top: 30vh;
	margin-bottom: 0;
}

.jumbotron .container-fluid{
	text-align: center;
}

.jumbotron h1{
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 100px;
}

form{
	margin-left: 20vw;
}

form .form-group .form-control{
	width: 40vw;
}

form button{
	border:none !important;
	background-color: #FF6200 !important;
	width: 10vw;
	font-weight: 700 !important;
	color: white !important;
	box-shadow: 2px 2px 1px #020202 !important;
}

form button:hover{
	color: #FF6200 !important;
	background-color: white !important;
}

.container-fluid p{
	font-size: 20px;
	color: white;
	cursor: pointer;
}
